@model zpnet.Models.przepis

@{
    ViewData["Title"] = "Edytowanie przepisu";
}

<h1>Edytuj przepis:</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edycja">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nazwa" class="control-label"></label>
                <input asp-for="nazwa" class="form-control" />
                <span asp-validation-for="nazwa" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="autorid" class="control-label">Autor:</label>
                <select asp-for="autorid" class="form-control" asp-items="ViewBag.autorzy"></select>
                <span asp-validation-for="autorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typ" class="control-label"></label>
                <input asp-for="typ" class="form-control" />
                <span asp-validation-for="typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="przepisText" class="control-label"></label>
                <input asp-for="przepisText" class="form-control" />
                <span asp-validation-for="przepisText" class="text-danger"></span>
            </div>

               @foreach(var k in ViewBag.ksiazkiLista)
                    {                    
                        <input type="checkbox" name="zaznaczonePrzepisy" checked="@k.zaznaczone"  value="@k.id" @k.zaznaczone />@k.nazwa
                    }

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index"><button type="button" class="btn btn-secondary">Powrót do listy</button></a>
</div>

