@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie na twoje przepisy</h1>
    <p>Dzięki tej stronie możesz dodawać swoje przepisy i dzielić je na osobne książki</a>.</p>
</div>
