<style>
	.k1{
		font-weight:bolder;
	}
	.2k{
		color:rgb(50,205,50);
	}
</style>
<span style="padding-left:50px">
	<span class="k1 k2">Statystyki:</span> &nbsp;&nbsp;
		<span class="k1">Ksiązki:</span> @ViewBag.ksiazki &nbsp;&nbsp;&nbsp;
		<span class="k1">	Przepisy:</span> @ViewBag.przepisy &nbsp;&nbsp;&nbsp;
			<span class="k1">Autorzy:</span> @ViewBag.autorzy
</span>